/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
  font-family: DharmaGothicRndE;
  src: url(../fonts/DharmaGothicRndE-Bold.woff);
}
@font-face {
  font-family: DharmaGothicRndE-bold;
  src: url(../fonts/DharmaGothicRndE-Bold.woff2);
}
@font-face {
  font-family: SofiaPro;
  src: url(../fonts/SofiaPro-Bold.woff);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.2%;
}
.container {
  max-width: 80%;
  margin: auto;
}

.rap {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* Header */
header {
  background: #00406b;
  border-bottom: 0.2rem solid #fff;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #fff;
  box-shadow: 0.5rem 0.5rem 0.5rem #fff;
}
header .logo img {
  width: 20.5rem;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Coming section */
#comming-soon {
  background-color: #00406b;
  padding: 0 0.5rem;
  position: relative;
  overflow: hidden;
}
.coming-soon {
  font-size: 2rem;
  text-align: center;
  font-family: SofiaPro;
  color: #fff;
  margin-top: 2rem;
}
.coming-soon::before {
  content: "";
  position: absolute;
  margin-top: 2.4rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: -o-linear-gradient(320deg, rgb(201, 19, 119), rgb(19, 126, 219));
  background: linear-gradient(130deg, rgb(201, 19, 119), rgb(19, 126, 219));
  -webkit-animation: boderAnim 0.7s ease forwards;
  animation: boderAnim 0.7s ease forwards;
}

/* Left Part */
.leftPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-animation: fadeLeft 1s ease forwards;
  animation: fadeLeft 1s ease-in-out backwards;
}

#comming-soon {
  border-bottom: 2px solid #000;
}
#comming-soon .leftPart h1 {
  font-family: DharmaGothicRndE-bold;
  font-weight: bold;
  font-style: normal;
  font-size: 8.5rem;
  line-height: 90%;
  color: #fff;
  display: block;
  margin-top: 10%;
}
#comming-soon .leftPart h1 .dot {
  color: orange;
}
#comming-soon .leftPart a {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 120%;
  color: #fff;
  text-decoration: none;
  margin: 2rem 0;
  display: block;
  letter-spacing: 0.2rem;
}

#comming-soon .leftPart .btn {
  width: 25rem;
  padding: 1.7rem 3.5rem;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 3rem;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1;
  color: #00406b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#comming-soon .leftPart .btn:hover {
  background-color: #b509c5;
  color: #ccc;
}
/* Right Part */
.rightPart {
  text-align: center;
}
.rightPart .woman-image {
  position: relative;
}
.rightPart .woman-image::after {
  content: "";
  position: absolute;
  bottom: -4%;
  left: 2%;
  width: 100%;
  height: 6%;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  background: -o-linear-gradient(240deg, rgb(201, 19, 119), rgb(19, 126, 219));
  background: linear-gradient(210deg, rgb(201, 19, 119), rgb(19, 126, 219));
}
.rightPart .woman-image img {
  width: 100%;
  height: 100%;
  margin-bottom: -2px;
  -o-object-fit: cover;
  object-fit: cover;
  animation: fadeUp 0.5s ease-in alternate-reverse;
}
/* Footer */
.footer {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 10rem;
  margin-bottom: 1rem;
  font-family: SofiaPro, Courier, monospace;
}
.footer a {
  color: #fff;
}

/* Animation */
@-webkit-keyframes boderAnim {
  0% {
    width: 0;
  }
  100% {
    width: 20.2rem;
  }
}
@keyframes boderAnim {
  0% {
    width: 0;
  }
  100% {
    width: 20.2rem;
  }
}
@-webkit-keyframes fadeLeft {
  0% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(0%);
    transform: translate(0%);
  }
}
@keyframes fadeLeft {
  0% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(0%);
    transform: translate(0%);
  }
}
@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/* Responsive */
@media (max-width: 980px) {
  html {
    font-size: 55.2%;
  }
  #comming-soon .leftPart h1 {
    font-size: 8rem;
  }
}
@media (max-width: 780px) {
  html {
    font-size: 50.2%;
  }

  .rap {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .rightPart .woman-image img {
    width: 80%;
  }
  #comming-soon .leftPart h1 {
    font-size: 7.4rem;
  }
}
@media (max-width: 430px) {
  html {
    font-size: 40.2%;
  }
}
